.main {
    & div {
        color: skyblue;
        width: 300px;
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-top: 10px;
    }

    & div:hover {
        box-shadow: 0px 0px 5px tan;
        cursor: pointer;
        border-radius: 15px;
    }

    & div:first-child {
        margin-top: 0px;
    }
}
