body{
    box-sizing: content-box;
}

canvas{
    width: 100%;
    height: 100%;
}

#main-menu{
    position:absolute; 
    top: 50%;
    left: 50%;
}

#main-menu-content{
    position: relative;
    left: -50%;
    top: -50%;
    padding: 20px;
    border-radius: 25px;
    border-color: darkgoldenrod;
    border-width: 1px;
    border-style: solid;
}

#main-menu-content div{
    color: skyblue;
    width: 300px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 10px;
}

#main-menu-content div:hover{
    box-shadow: 0px 0px 5px tan;
    cursor: pointer;
    border-radius: 15px;
}


#main-menu-content div:first-child{
    margin-top: 0px;
}

#toaster{
    position: absolute;
    visibility: hidden;
    right: 5px;
    top: 5px;
    border-radius: 5px;
    border-color: red;
    border-style: solid;
    border-width: 2px;
    color: white;
    background-color: hotpink;
}